body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 247, 217);
}

.tasks{
    width: 50%;
    margin: 0 auto;
}

.tasks p{
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.121));
    padding: 20px 15px;

}