@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: rgb(83, 83, 83);
}

html{
    font-size: 15px;
}
a{
    text-decoration: none;
}
.block{
    border: 1px gray solid;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0px 28px 40px -10px rgba(49, 67, 82, 0.38);
    background-color: white;
}
.task{
    width: 600px;
    margin: auto;
    margin-top: 20px;
}
p{
    margin-bottom: 10px;
    font-size: 1.5em;
    padding-left: 25px;
}
h2{
    margin-bottom: 20px;
    color: rgb(57, 161, 226);
    text-align: center;
}
.big{
    font-size: 1.75em;
    font-weight: 800;
    width: fit-content;
    padding: 5px 0;
    border-bottom: 1px solid gray;
    color: brown;
}
.example{
    font-style: italic;
    border: 2px gray solid;
    border-radius: 15px;
    padding: 15px;
    margin: 25px 0 10px;
    background: #ededed;
}
hr{
    margin: 45px 0 15px;
    height: 3px;
    border: none;
    outline: none;
    background: gray;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}
.prev, .next{
    font-size: 3em;
    padding: 10px 20px 12px;
    box-shadow: 0px 5px 20px -5px gray;
}